<title>EECS4415Project3</title>
<h1>Total Number of the collected Repository</h1>
<h2>Python: {{pycountrepo}} </h2>
<h2>Java: {{javacountrepo}} </h2>
<h2>Go: {{gocountrepo}} </h2>
<h1> Number of the collected repositories with changes pushed during the last 60 seconds</h1>
<img src={{sixtysecondimage}} alt="Chart" height="auto" width="50%">
<h1>Average number of stars</h1>
<img src={{starimage}} alt="Chart" height="auto" width="50%">
<h1>Top ten Most Frequent Words</h1>
<h1>Python</h1>
<h2>{{pythont_a}}</h2>
<h2>{{pythont_b}}</h2>
<h2>{{pythont_c}}</h2>
<h2>{{pythont_d}}</h2>
<h2>{{pythont_e}}</h2>
<h2>{{pythont_f}}</h2>
<h2>{{pythont_g}}</h2>
<h2>{{pythont_h}}</h2>
<h2>{{pythont_i}}</h2>
<h2>{{pythont_j}}</h2>
<h1>Java</h1>
<h2>{{java_a}}</h2>
<h2>{{java_b}}</h2>
<h2>{{java_c}}</h2>
<h2>{{java_d}}</h2>
<h2>{{java_e}}</h2>
<h2>{{java_f}}</h2>
<h2>{{java_g}}</h2>
<h2>{{java_h}}</h2>
<h2>{{java_i}}</h2>
<h2>{{java_j}}</h2>
<h1>Go</h1>
<h2>{{go_a}}</h2>
<h2>{{go_b}}</h2>
<h2>{{go_c}}</h2>
<h2>{{go_d}}</h2>
<h2>{{go_e}}</h2>
<h2>{{go_f}}</h2>
<h2>{{go_g}}</h2>
<h2>{{go_h}}</h2>
<h2>{{go_i}}</h2>
<h2>{{go_j}}</h2>